*
{
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

body{
	background: url('images/stripes.png');
}

#header{
	height: 70px;
	margin: 0;
	background-color: #56baec;
}

#header a{
	font-family: 'Poiret One', cursive; 
	font-size: 25px;
	font-weight: 100;
	text-decoration: none;
	color: #FFF0AA;

}

#header a:hover{
	font-family: 'Poiret One', cursive; 
	font-size: 25px;
	font-weight: 100;
	color: #ffffff;
}

#header div{
	margin-top: 20px;
	width: 20%;
	float: left;
	white-space:nowrap;
	min-width: 110px;

	max-height:500px;
	min-height:21%;
}

.but_1{
	margin-top: 30px;
	margin-left: 20%;
}

#alice{
	border: 2px solid #ffaeae;
	width: 70%;
	min-width: 400px;
	max-width: 1000px;
	max-height: 85%;
	margin-top: 20px;
	margin-left: 0px;
	margin: 0 auto;
	background-color: #fff0aa;
	background-image: url('images/alice_small.png');
	background-repeat: no-repeat;
	background-position: bottom left;
	overflow-y: auto;
}

#teaset{
	border: 2px solid #ffaeae;
	width: 70%;
	min-width: 400px;
	max-width: 1000px;
	max-height: 85%;
	margin-left: 0px;
	margin: 0 auto;
	background-color: #fff0aa;
	background-image: url('images/teaset.png');
	background-repeat: no-repeat;
	background-position: bottom left;
	overflow-y: auto;
}

#textbox{
	padding: 10px;
	width: 90%;
	margin: 0 auto;
	height: auto;

	background-color: #ffffff;
	border: 2px dotted black;
	border-radius: 3px;
	opacity: 0.6;

	color: #333354;
}

#gallery_textbox{
	padding: 10px;
	width: 60%;
	margin: 0 auto;
	height: auto;

}

.large_cursive_center{
	color: #333354;
	font-family: 'Homemade Apple', cursive; 
	font-size: 45px;
	text-align: center;
}

.reg_cursive{
	color: #333354;
	font-family: 'Homemade Apple', cursive; 
	font-size: 27px;
}

.reg_cursive_center{
	color: #333354;
	font-family: 'Homemade Apple', cursive; 
	font-size: 27px;
	text-align: center;
}

.reg_cursive_left{
	color: #333354;
	font-family: 'Homemade Apple', cursive; 
	font-size: 27px;
	text-align: left;
}

.reg_large_left{
	text-align: left;
	font-family: 'Poiret One', cursive;  
	font-size: 30px;
}

.reg_normal{
	font-size: 18px;
	font-family: 'Poiret One', cursive;  
}

.reg_normal_center{
	font-size: 20px;
	font-family: 'Poiret One', cursive; 
	text-align: center;
}

.reg_normal_left{
	text-align: left;
	font-family: 'Poiret One', cursive;  
	font-size: 20px;
}

.reg_small{
	text-align: left;
	font-family: 'Poiret One', cursive;  
	font-size: 15px;
}

#textbox hr{
	border: 0;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 4px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

#sections{
	width: auto;
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
	font-weight: 300;
}
#sections div{
	float: left;
	width: 33%;
}

#sections_2{
	width: auto;
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
	font-weight: 300;
}
#sections_2 div{
	float: left;
	width: 50%;
}

#images img{
	width: 100%;
}
#images div{
	height: 500px;
}
